<div class="container">
  <h2>Crypto Basics</h2>
  <div class="container">
    <h3>
      What is CryptoCurrency?
      <h3>
        <div class="middle buttongroup float-left">
          <a
            target="_blank"
            href="https://www.coursera.org/learn/blockchain-foundations-and-use-cases"
          >
            <button class="btn btn-info">Blockchain Foundation</button>
          </a>
        </div>

        <div class="middle buttongroup float-left">
          <a target="_blank" href="https://geekflare.com/learn-blockchain/">
            <button class="btn btn-info">Learn Blockchain</button>
          </a>
        </div>

        <div class="middle buttongroup float-left">
          <a
            target="_blank"
            href="https://graphics.reuters.com/TECHNOLOGY-BLOCKCHAIN/010070P11GN/index.html"
          >
            <button class="btn btn-info">Blockchain Explained</button>
          </a>
        </div>
        <p></p>
        <p></p>
        <header>
          What is Crypto Wallet?
          <header>
            <div class="middle buttongroup float-left">
              <a
                target="_blank"
                href="https://cointelegraph.com/explained/crypto-wallets-explained"
              >
                <button class="btn btn-info">Crypto Wallet Explained</button>
              </a>
            </div>

            <div class="middle buttongroup float-left">
              <a
                target="_blank"
                href="https://www.unicef.org/innovation/blockchain-learning-hub"
              >
                <button class="btn btn-info">Blockchain Learning Hub</button>
              </a>
            </div>
            <p></p>
            <p></p>

            <h3>
              Types of Crypto
              <h3>
                <div class="middle buttongroup float-left">
                  <a
                    target="_blank"
                    href="https://www.bankrate.com/investing/types-of-cryptocurrency/"
                  >
                    <button class="btn btn-info">Investing in Crypto</button>
                  </a>
                </div>
                <div class="middle buttongroup float-left">
                  <a
                    target="_blank"
                    href="https://kriptomat.io/cryptocurrencies/types-of-cryptocurrency/"
                  >
                    <button class="btn btn-info">
                      Types of Crypto Currency
                    </button>
                  </a>
                </div>
                <div class="middle buttongroup float-left">
                  <a
                    target="_blank"
                    href="https://www.sofi.com/learn/content/understanding-the-different-types-of-cryptocurrency/"
                  >
                    <button class="btn btn-info">
                      Understanding the Difference
                    </button>
                  </a>
                </div>
                <p></p>

                <h3>What is the Blockchain?</h3>
                <div class="middle buttongroup float-left">
                  <a
                    target="_blank"
                    href="https://www.geeksforgeeks.org/blockchain-technology-introduction/"
                  >
                    <button class="btn btn-info">
                      Introduction to Blockchain
                    </button>
                  </a>
                  <div class="middle buttongroup float-left">
                    <a
                      target="_blank"
                      href="https://www.coinbase.com/learn/crypto-basics/what-is-a-blockchain/"
                    >
                      <button class="btn btn-info">
                        Blockchain Definition
                      </button>
                    </a>
                    <div class="middle buttongroup float-left">
                      <a
                        target="_blank"
                        href="https://www.investopedia.com/terms/b/blockchain.asp"
                      >
                        <button class="btn btn-info">Blockchain Terms</button>
                      </a>
                      <p></p>

                      <h2>Trading Strategy</h2>
                      <div class="middle buttongroup float-left">
                        <a
                          target="_blank"
                          href="https://cointelegraph.com/trading-for-beginners/a-beginners-guide-to-cryptocurrency-trading-strategies"
                        >
                          <button class="btn btn-info">Beginners</button>
                        </a>

                        <div class="middle buttongroup float-left">
                          <a
                            target="_blank"
                            href="https://www.ig.com/en/trading-strategies/the-5-crypto-trading-strategies-that-every-trader-needs-to-know-220708"
                          >
                            <button class="btn btn-info">Needs to Know</button>
                          </a>
                          <div class="middle buttongroup float-left">
                            <a
                              target="_blank"
                              href="https://www.web3.wharton.upenn.edu/blockchain?utm_medium=cpc&utm_source=google&utm_campaign=blockchain&gclid=Cj0KCQiAm5ycBhCXARIsAPldzoWJLwDEIf-irMBvgrBlAmBoEhLLhNoYhzthmxaua8mBvTdlcIPwPGEaAkC3EALw_wcB"
                            >
                              <button class="btn btn-info">
                                Medium Learner
                              </button>
                            </a>
                            <p></p>
                            <p></p>
                            <h2>Advanced Crypto Topics</h2>
                            <div class="middle buttongroup float-left">
                              <a
                                target="_blank"
                                href="https://academy.binance.com/en/articles/history-of-blockchain/"
                              >
                                <button class="btn btn-info">
                                  History of Blockchain
                                </button>
                              </a>
                              <div class="middle buttongroup float-left">
                                <a
                                  target="_blank"
                                  href="https://www.synopsys.com/glossary/what-is-blockchain.html"
                                >
                                  <button class="btn btn-info">
                                    Glossary of Blockchain
                                  </button>
                                </a>

                                <div class="middle buttongroup float-left">
                                  <a
                                    target="_blank"
                                    href="https://blockchaintrainingalliance.com/pages/glossary-of-blockchain-terms"
                                  >
                                    <button class="btn btn-info">
                                      Blockchain Training
                                    </button>
                                  </a>

                                  <div class="middle buttongroup float-left">
                                    <a
                                      target="_blank"
                                      href="https://blockchaintrainingalliance.com/pages/glossary-of-blockchain-terms"
                                    >
                                      <button class="btn btn-info">
                                        Blockchain Training
                                      </button>
                                    </a>
                                    <p></p>

                                    <h2>Videos</h2>
                                    <header>
                                      Introduction to Blockchains for Educators
                                    </header>
                                    <div class="middle buttongroup float-left">
                                      <a
                                        target="_blank"
                                        href="https://www.youtube.com/watch?v=IbVX4sCAftM"
                                      >
                                        <button class="btn btn-info">
                                          Intro to Blockchain
                                        </button>
                                      </a>
                                      <p></p>

                                      <header>
                                        Blockchain and the Lifelong Learner
                                      </header>
                                      <div
                                        class="middle buttongroup float-left"
                                      >
                                        <a
                                          target="_blank"
                                          href="https://youtu.be/ZBVQ-p0knCo"
                                        >
                                          <button class="btn btn-info">
                                            Lifelong Learnerg
                                          </button>
                                        </a>
                                        <div
                                          class="middle buttongroup float-left"
                                        >
                                          <a
                                            target="_blank"
                                            href="hhttps://www.youtube.com/watch?v=nasQM2fqDAg"
                                          >
                                            <button class="btn btn-info">
                                              Lifelong Learner
                                            </button>
                                          </a>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </h3>
            </h3>
          </header>
        </header>
      </h3>
    </h3>
  </div>
</div>
