<app-nav-bar [user]="user"></app-nav-bar>
<!-- Accordian? -->


<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button open" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
        What is CryptoCurrency?
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      
      <div class="accordion-body">
        
          <div class="d-flex gap-3">
            <a
              target="_blank"
              href="https://www.coursera.org/learn/blockchain-foundations-and-use-cases"
            >
              <button class="btn btn-info">Blockchain Foundation</button>
            </a>
      
            <a target="_blank" href="https://geekflare.com/learn-blockchain/">
              <button class="btn btn-info">Learn Blockchain</button>
            </a>
      
            <a
              target="_blank"
              href="https://graphics.reuters.com/TECHNOLOGY-BLOCKCHAIN/010070P11GN/index.html"
            >
              <button class="btn btn-info">Blockchain Explained</button>
            </a>
          </div>
        
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        What is Crypto Wallet?
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div class="d-flex gap-3">
          <a
            target="_blank"
            href="https://cointelegraph.com/explained/crypto-wallets-explained"
          >
            <button class="btn btn-info">Crypto Wallet Explained</button>
          </a>
          <a
            target="_blank"
            href="https://www.unicef.org/innovation/blockchain-learning-hub"
          >
            <button class="btn btn-info">Blockchain Learning Hub</button>
          </a>
        </div>
      </div>
    </div>
  </div>


  <div class="accordion-item">
    <h2 class="accordion-header" id="headingFour">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
        Types of Crypto
      </button>
    </h2>
    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div class="d-flex gap-3">
          <a
            target="_blank"
            href="https://www.bankrate.com/investing/types-of-cryptocurrency/"
          >
            <button class="btn btn-info">Investing in Crypto</button>
          </a>
    
          <a
            target="_blank"
            href="https://kriptomat.io/cryptocurrencies/types-of-cryptocurrency/"
          >
            <button class="btn btn-info">Types of Crypto Currency</button>
          </a>
    
          <a
            target="_blank"
            href="https://www.sofi.com/learn/content/understanding-the-different-types-of-cryptocurrency/"
          >
            <button class="btn btn-info">Understanding the Difference</button>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingFive">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
        What is the Blockchain?
      </button>
    </h2>
    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div class="d-flex gap-3">
          <a
            target="_blank"
            href="https://www.geeksforgeeks.org/blockchain-technology-introduction/"
          >
            <button class="btn btn-info">Introduction to Blockchain</button>
          </a>
    
          <a
            target="_blank"
            href="https://www.coinbase.com/learn/crypto-basics/what-is-a-blockchain/"
          >
            <button class="btn btn-info">Blockchain Definition</button>
          </a>
    
          <a
            target="_blank"
            href="https://www.investopedia.com/terms/b/blockchain.asp"
          >
            <button class="btn btn-info">Blockchain Terms</button>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingSix">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
        Trading Strategy
      </button>
    </h2>
    <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div class="d-flex gap-3">
          <a
            target="_blank"
            href="https://cointelegraph.com/trading-for-beginners/a-beginners-guide-to-cryptocurrency-trading-strategies"
          >
            <button class="btn btn-info">Beginners</button>
          </a>
    
          <a
            target="_blank"
            href="https://www.ig.com/en/trading-strategies/the-5-crypto-trading-strategies-that-every-trader-needs-to-know-220708"
          >
            <button class="btn btn-info">Needs to Know</button>
          </a>
          <a
            target="_blank"
            href="https://www.web3.wharton.upenn.edu/blockchain?utm_medium=cpc&utm_source=google&utm_campaign=blockchain&gclid=Cj0KCQiAm5ycBhCXARIsAPldzoWJLwDEIf-irMBvgrBlAmBoEhLLhNoYhzthmxaua8mBvTdlcIPwPGEaAkC3EALw_wcB"
          >
            <button class="btn btn-info">Medium Learner</button>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingSeven">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
        Advanced Crypto Topics
      </button>
    </h2>
    <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div class="d-flex gap-3">
          <a
            target="_blank"
            href="https://academy.binance.com/en/articles/history-of-blockchain/"
          >
            <button class="btn btn-info">History of Blockchain</button>
          </a>
          <a
            target="_blank"
            href="https://www.synopsys.com/glossary/what-is-blockchain.html"
          >
            <button class="btn btn-info">Glossary of Blockchain</button>
          </a>
          <a
            target="_blank"
            href="https://blockchaintrainingalliance.com/pages/glossary-of-blockchain-terms"
          >
            <button class="btn btn-info">Blockchain Training</button>
          </a>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingEight">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
          Video Resources
        </button>
      </h2>
      <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <div class="d-flex gap-3">
            <a target="_blank" href="https://www.youtube.com/watch?v=IbVX4sCAftM">
              <button class="btn btn-info">Intro to Blockchain</button>
            </a>
            <a target="_blank" href="https://youtu.be/ZBVQ-p0knCo">
              <button class="btn btn-info">Lifelong Learnerg</button>
            </a>
            <a target="_blank" href="hhttps://www.youtube.com/watch?v=nasQM2fqDAg">
              <button class="btn btn-info">Lifelong Learner</button>
            </a>
          </div>
        </div>
      </div>
  
    
  </div>

  



