<app-nav-bar [user]="user"></app-nav-bar>
<div class="container p-3">
  <h2>My Crypto Wallet</h2>
  <div
    *ngIf="combinedTransactionPortfolio.length > 0"
    class="accordion accordion-flush"
    id="cobinedCoinAccordian"
  >
    <div
      class="accordion-item"
      *ngFor="let group of combinedTransactionPortfolio; let i = index"
    >
      <h2 class="accordion-header" id="flush-headingOne">
        <button
          class="accordion-button collapsed fs-4"
          type="button"
          data-bs-toggle="collapse"
          [attr.data-bs-target]="'#flush-' + i"
          aria-expanded="false"
          [attr.aria-controls]="'flush-' + i"
        >
          <a
            class="fw-bold"
            [routerLink]="['/coinDetails']"
            [queryParams]="{ coinName: group.coinId }"
            >{{ group.coinId | titlecase }}</a
          >
          &nbsp;

          <span class="d-none d-sm-block">
            -&nbsp;
            {{
              group.cumulativeQuantity * group.currentCoinPrice
                | currency: 'USD':'symbol':'.2-6'
            }}
            &nbsp;
          </span>
          (<span
            class="fw-bold"
            [ngStyle]="{
              color:
                ((group.cumulativeQuantity * group.currentCoinPrice -
                  group.cumlativePurchasePrice) /
                  (group.cumulativeQuantity * group.currentCoinPrice)) *
                  100 >=
                0
                  ? '#00bc8c'
                  : '#e74c3c'
            }"
            >{{
              ((group.cumulativeQuantity * group.currentCoinPrice -
                group.cumlativePurchasePrice) /
                (group.cumulativeQuantity * group.currentCoinPrice)) *
                100 | number: '.0-3'
            }}%</span
          >
          )
        </button>
      </h2>
      <div
        [attr.id]="'flush-' + i"
        class="accordion-collapse collapse"
        [attr.aria-labelledby]="'flush-heading-' + i"
        data-bs-parent="#cobinedCoinAccordian"
      >
        <div class="accordion-body">
          <div
            class="row row-cols-2 row-cols-md-3 row-cols-xl-4 row-cols-xxl-5 g-3"
          >
            <div class="col" *ngFor="let t of group.coinTransactions">
              <div class="card h-100 p-3">
                <div class="row d-flex flex-column">
                  <div class="card-title text-center fs-4">
                    {{ t.transactionDate | date: 'mediumDate' }}
                  </div>
                </div>
                <div class="row g-0">
                  <div class="border-start border-2 border-success my-3">
                    <div class="card-body fs-5 px-2">
                      <div class="row">
                        <h5 class="card-text">Quantity:</h5>
                        <p class="card-text">
                          {{ t.quantity | number: '.2-6' }}
                        </p>
                        <h5 class="card-text">Purchase Price:</h5>
                        <p class="card-text">
                          {{
                            t.purchasePrice | currency: 'USD':'symbol':'.2-6'
                          }}
                        </p>
                        <h5 class="card-text">Current Unit Price:</h5>
                        <p class="card-text">
                          {{
                            getCurrentPrice(t.coinId)
                              | currency: 'USD':'symbol':'.2-6'
                          }}
                        </p>

                        <h5 class="card-text">Current Value:</h5>
                        <p class="card-text">
                          {{
                            getCurrentPrice(t.coinId) * t.quantity
                              | currency: 'USD':'symbol':'.2-4'
                          }}
                        </p>
                        <h5 class="card-text">Change(%):</h5>
                        <p class="card-text">
                          <span
                            class="fw-bold"
                            [ngStyle]="{
                              color:
                                ((t.quantity * group.currentCoinPrice -
                                  t.purchasePrice) /
                                  (t.quantity * group.currentCoinPrice)) *
                                  100 >=
                                0
                                  ? '#00bc8c'
                                  : '#e74c3c'
                            }"
                            >{{
                              ((group.cumulativeQuantity *
                                group.currentCoinPrice -
                                group.cumlativePurchasePrice) /
                                (group.cumulativeQuantity *
                                  group.currentCoinPrice)) *
                                100 | number: '.0-4'
                            }}%</span
                          >
                        </p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="mx-auto mt-auto">
                  <button
                    *ngIf="auth.isAuthenticated$ | async"
                    class="btn btn-outline-danger px-5 fw-bold"
                    data-bs-toggle="modal"
                    data-bs-target="#sellModal"
                    (click)="setActiveTransaction(t)"
                  >
                    Sell
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- modal selling -->
<div
  *ngIf="dataLoaded | async"
  class="modal fade"
  id="sellModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Sell Crypto</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="resetTransaction()"
        ></button>
      </div>
      <div class="modal-body">
        <h5>{{ activeTransaction.coinId | titlecase }}</h5>
        <p>
          Units Held:&nbsp;&nbsp;
          {{ this.activeTransaction.quantity | number: '.2-6' }}
        </p>
        <p>
          Unit Price:&nbsp;&nbsp;
          {{
            getCurrentPrice(this.activeTransaction.coinId)
              | currency: 'USD':'symbol':'.2-6'
          }}
        </p>
        <p>
          Held Price:&nbsp;&nbsp;
          {{
            getCurrentPrice(this.activeTransaction.coinId) *
              this.activeTransaction.quantity | currency: 'USD':'symbol':'.2-6'
          }}
        </p>
        <button
          class="btn btn-outline-info"
          (click)="
            desiredSellAmount =
              getCurrentPrice(this.activeTransaction.coinId) *
              this.activeTransaction.quantity
          "
        >
          Sell All
        </button>

        <div class="form-group">
          <label class="col-form-label mt-2" for="inputDefault">
            Purchase Amount USD
          </label>

          <div class="input-group">
            <span class="input-group-text">$</span>
            <input
              type="number"
              class="form-control"
              [(ngModel)]="desiredSellAmount"
              id="inputDefault"
            />
          </div>
        </div>
        <div *ngIf="desiredSellAmount > 0" class="mt-2">
          <h6>
            Do you wish to sell
            {{
              this.desiredSellAmount /
                this.getCurrentPrice(this.activeTransaction.coinId)
                | number: '.2-6'
            }}
            {{ activeTransaction.coinId }} for
            {{ desiredSellAmount | currency: 'USD':'symbol':'.2-6' }}?
          </h6>
          <h6></h6>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          (click)="resetTransaction()"
        >
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="('hi')"
          data-bs-dismiss="modal"
          (click)="sellCoins()"
        >
          Confirm Transaction
        </button>
      </div>
    </div>
  </div>
</div>
