<h2>User's Portfolio</h2>
<table class="table table-hover">
  <thead class="text-center">
    <tr class="table-primary">
      <th scope="col">Date</th>
      <th scope="col">Coin</th>
      <th scope="col">Quantity Held</th>
      <th scope="col">Bought Price</th>
      <th scope="col">Unit Price</th>
      <th scope="col">Held Value</th>
      <th scope="col">Change (%)</th>
      <th scope="col">Sell Quantity</th>
    </tr>
  </thead>
  <tbody class="text-center">
    <tr *ngFor="let t of currentPortfolio">
      <td>{{ t.transactionDate | date: 'shortDate' }}</td>
      <td>{{ t.coinId | titlecase }}</td>
      <td>{{ t.quantity | number: '.2-6' }}</td>
      <td>
        {{ t.purchasePrice | currency: 'USD':'symbol':'.2-6' }}
      </td>
      <td>
        {{ getCurrentPrice(t.coinId) | currency: 'USD':'symbol':'.2-6' }}
      </td>
      <td>
        {{
          getCurrentPrice(t.coinId) * t.quantity
            | currency: 'USD':'symbol':'.2-4'
        }}
      </td>
      <td>
        {{
          (getCurrentPrice(t.coinId) * t.quantity - t.purchasePrice) /
            t.purchasePrice | percent: '.2'
        }}
      </td>
      <td class="text-center">
        <button
          class="btn btn-outline-danger"
          data-bs-toggle="modal"
          data-bs-target="#sellModal"
          (click)="setActiveTransaction(t)"
        >
          Sell
        </button>
      </td>
    </tr>
  </tbody>
</table>

<!-- modal selling -->
<div
  *ngIf="dataLoaded | async"
  class="modal fade"
  id="sellModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Sell Crypto</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <h5>{{ activeTransaction.coinId | titlecase }}</h5>
        <p>
          Units Held:&nbsp;&nbsp;
          {{ this.activeTransaction.quantity | number: '.2-6' }}
        </p>
        <p>
          Unit Price:&nbsp;&nbsp;
          {{
            getCurrentPrice(this.activeTransaction.coinId)
              | currency: 'USD':'symbol':'.2-6'
          }}
        </p>
        <p>
          Held Price:&nbsp;&nbsp;
          {{
            getCurrentPrice(this.activeTransaction.coinId) *
              this.activeTransaction.quantity | currency: 'USD':'symbol':'.2-6'
          }}
        </p>
        <button
          class="btn btn-outline-info"
          (click)="
            desiredSellAmount =
              getCurrentPrice(this.activeTransaction.coinId) *
              this.activeTransaction.quantity
          "
        >
          Sell All
        </button>

        <div class="form-group">
          <label class="col-form-label mt-2" for="inputDefault">
            Purchase Amount USD
          </label>

          <div class="input-group">
            <span class="input-group-text">$</span>
            <input
              type="number"
              class="form-control"
              [(ngModel)]="desiredSellAmount"
              id="inputDefault"
            />
          </div>
        </div>
        <div *ngIf="desiredSellAmount > 0" class="mt-2">
          <h6>
            Do you wish to sell
            {{
              this.desiredSellAmount /
                this.getCurrentPrice(this.activeTransaction.coinId)
                | number: '.2-6'
            }}
            {{ activeTransaction.coinId }} for
            {{ desiredSellAmount | currency: 'USD':'symbol':'.2-6' }}?
          </h6>
          <h6></h6>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="('hi')"
          data-bs-dismiss="modal"
          (click)="sellCoins()"
        >
          Confirm Transaction
        </button>
      </div>
    </div>
  </div>
</div>
