<div class="container-fluid">
  <h2>Top 20 Coins:</h2>
  <div class="row d-flex justify-content-center">
    <div class="card m-1 p-2 col-2" *ngFor="let c of topTwentyCoins">
      <div class="card-body p-0 pb-3">
        <div class="text-center mb-3">
          <img
            class=""
            src="{{ c.image }}"
            alt="Card image cap"
            height="120px"
            width="120px"
          />
        </div>
        <h4 class="card-title text-center">
          <u>{{ c.name }}</u>
        </h4>
        <div class="container-fluid">
          <div class="row">
            <div class="col d-flex flex-column">
              <h5 class="card-text">Price Change:</h5>
              <p class="card-text">
                {{ c.price_change_24h | currency: 'USD':'symbol':'.2-6' }}
                (<span
                  [ngStyle]="{
                    color: c.price_change_percentage_24h >= 0 ? 'green' : 'red'
                  }"
                >
                  {{ c.price_change_percentage_24h | number: '1.0-2' }}% </span
                >)
              </p>
              <h5 class="card-text">Current Price:</h5>
              <p class="card-text">
                {{ c.current_price | currency: 'USD':'symbol':'.2-6' }}
              </p>
            </div>
          </div>
        </div>
      </div>

      <ng-container>
        <div class="btn-toolbar m-auto" role="toolbar">
          <div class="btn-group me-2" role="group" aria-label="First group">
            <button
              class="btn btn-outline-success"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
              (click)="setActiveCoin(c)"
            >
              Buy
            </button>
            <button
              class="btn btn-outline-success"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
            >
              Buy
            </button>
          </div>
        </div>
      </ng-container>

      <!-- <p>{{c.participations.length()}}</p> -->
    </div>
  </div>
</div>

<!-- Modal buying-->

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Make a Trade</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <h5>{{ activeCoin.name }}</h5>
        <p>
          Current Price:
          {{ activeCoin.current_price | currency: 'USD':'symbol':'.2-6' }}
        </p>
        <div class="form-group">
          <label class="col-form-label mt-2" for="inputDefault">
            Purchase Amount USD
          </label>

          <input
            type="number"
            class="form-control"
            placeholder="0.00"
            [(ngModel)]="desiredCoinAmount"
            id="inputDefault"
          />
        </div>
        <div class="mt-2">
          <h6>
            Do you wish to purchase
            {{ desiredCoinAmount / activeCoin.current_price | number: '.2-6' }}
            {{ activeCoin.name }} for
            {{ desiredCoinAmount | currency: 'USD':'symbol':'.2-6' }}?
          </h6>
          <h6></h6>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">
          Confirm Transaction
        </button>
        <!-- (click)="" -->
      </div>
    </div>
  </div>
  <
  <!-- modal selling -->
  <div
    class="modal fade"
    id="sellModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Sell Crypto</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label class="col-form-label mt-4" for="inputDefault"
              >coin logo current price price change</label
            >
            <input
              type="text"
              class="form-control"
              placeholder="Sell amount"
              id="inputDefault"
            />

            <!-- Modal -->

            <div
              class="modal fade"
              id="exampleModal"
              tabindex="-1"
              aria-labelledby="exampleModalLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                      Make a Trade
                    </h5>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body">
                    <div class="form-group">
                      <label class="col-form-label mt-4" for="inputDefault"
                        >coin logo current price price change</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Buy amount"
                        id="inputDefault"
                      />
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-bs-dismiss="modal"
                    >
                      Close
                    </button>
                    <button type="button" class="btn btn-primary">
                      Confirm Transaction
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
