<app-nav-bar [user]="user"></app-nav-bar>
<div class="container p-3">
  <!-- <form class="d-flex m-auto mb-3" style="max-width: 600px">
    <input
      class="form-control mx-2"
      type="text"
      placeholder="Coin Search..."
      aria-label="Search"
      name="search"
      [(ngModel)]="searchQuery"
    />
    <button class="btn btn-success fw-bold" type="submit">Search</button>
  </form> -->

  <h2>Top 20 Coins:</h2>
  <div class="row row-cols-2 row-cols-md-3 row-cols-xl-4 row-cols-xxl-5 g-3">
    <div class="col" *ngFor="let c of topTwentyCoins">
      <div class="card h-100 p-3">
        <div class="row d-flex flex-column">
          <div class="card-title text-center fs-4 fw-bold">
            <a
              [routerLink]="['/coinDetails']"
              [queryParams]="{ coinName: c.id }"
              >{{ c.name }}</a
            >
          </div>
        </div>
        <div class="row g-0">
          <div
            class="card-img mt-3 d-flex text-center align-items-center justify-content-center"
          >
            <img
              class="rounded mx-auto d-block"
              src="{{ c.image }}"
              alt="Card image cap"
              height="120px"
              width="120px"
            />
          </div>
          <div class="border-start border-2 border-success my-3">
            <div class="card-body fs-5 px-2">
              <div class="row">
                <h5 class="card-text">Price Change:</h5>
                <p class="card-text">
                  {{ c.price_change_24h | currency: 'USD':'symbol':'.2-8' }}
                  (<span
                    class="fw-bold"
                    [ngStyle]="{
                      color:
                        c.price_change_percentage_24h >= 0
                          ? '#00bc8c'
                          : '#e74c3c'
                    }"
                    >{{
                      c.price_change_percentage_24h | number: '1.0-2'
                    }}%</span
                  >)
                </p>
                <h5 class="card-text">Current Price:</h5>
                <p class="card-text">
                  {{ c.current_price | currency: 'USD':'symbol':'.2-8' }}
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="mx-auto mt-auto">
          <button
            *ngIf="auth.isAuthenticated$ | async"
            class="btn btn-outline-success px-5 fw-bold"
            data-bs-toggle="modal"
            data-bs-target="#buyModal"
            (click)="setActiveCoin(c)"
          >
            Buy
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal buying-->

<div
  class="modal fade"
  id="buyModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Make a Trade</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="resetCoin()"
        ></button>
      </div>
      <div class="modal-body">
        <h5>{{ activeCoin.name }}</h5>
        <p>
          Current Price:
          {{ activeCoin.current_price | currency: 'USD':'symbol':'.2-8' }}
        </p>
        <div class="form-group">
          <label class="col-form-label mt-2" for="inputDefault">
            Purchase Amount USD
          </label>
          <div class="input-group">
            <span class="input-group-text">$</span>
            <input
              type="number"
              class="form-control"
              placeholder=""
              onfocus="this.value=''"
              [(ngModel)]="desiredCoinAmount"
              id="inputDefault"
            />
          </div>
        </div>
        <div
          *ngIf="desiredCoinAmount > 0 && desiredCoinAmount <= user.liquidCash"
          class="mt-3"
        >
          <h6>
            Do you wish to purchase
            {{ desiredCoinAmount / activeCoin.current_price | number: '.2-8' }}
            {{ activeCoin.name }} for
            {{ desiredCoinAmount | currency: 'USD':'symbol':'.2-8' }}?
          </h6>
        </div>
        <div
          *ngIf="desiredCoinAmount > user.liquidCash"
          class="alert alert-danger mt-2"
          role="alert"
        >
          Insufficent Funds! Funds Available:
          {{ user.liquidCash | currency: 'USD':'symbol':'.2' }}
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          (click)="resetCoin()"
        >
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="submitTradeToDatabase()"
          data-bs-dismiss="modal"
          [disabled]="
            desiredCoinAmount <= 0 || desiredCoinAmount > user.liquidCash
          "
        >
          Confirm Transaction
        </button>
      </div>
    </div>
  </div>
</div>
