<div class="container-fluid">
  <h2>Top 20 Coins:</h2>
  <div class="row d-flex justify-content-center">
    <div class="card m-3 p-3 col-5" *ngFor="let c of topTwentyCoins">
      <img
        class=""
        src="{{ c.image }}"
        alt="Card image cap"
        height="120px"
        width="120px"
      />
      <div class="card-body p-0 pb-3">
        <h5 class="card-title text-center">
          <u>{{ c.name }}</u>
        </h5>
        <div class="container-fluid">
          <div class="row">
            <div
              class="col-9 d-flex flex-column"
              style="border-right: 1px lightgrey solid"
            >
              <p class="card-text">
                {{ c.price_change_24h | date: 'fullDate' }}
              </p>
              <p class="card-text">
                {{ c.price_change_percentage_24h | number: '1.0-2' }}%
              </p>
            </div>
            <div class="col-3 d-flex align-items-center justify-content-center">
              <p class="card-text text-right">
                {{ c.current_price | currency }}
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- *ngIf="userParticipationsIds.includes(c.id); else joined" -->
      <ng-container>
        <div class="btn-toolbar m-auto" role="toolbar">
          <div class="btn-group me-2" role="group" aria-label="First group">
            <button class="btn btn-outline-success">Buy</button>
          </div>
        </div>
      </ng-container>
      <ng-template #joined>
        <!-- (click)="addParticipation(e)" -->
        <button class="btn btn-outline-primary">Attend</button>
      </ng-template>

      <!-- <p>{{c.participations.length()}}</p> -->
    </div>
  </div>
</div>
