<header>
  <nav class="navbar navbar-expand-lg bg-primary fs-5">
    <div class="container">
      <a class="navbar-brand text-white d-flex align-items-center" href="#">
        <img
          src="assets/CryptoClear.png"
          alt=""
          style="width: 48px; height: 48px; margin-right: 10px"
        />
        CryptoClear</a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a
              class="nav-link text-white"
              routerLink="/coins/"
              routerLinkActive="link-active"
              >Coins</a
            >
          </li>

          <li class="nav-item">
            <a
              class="nav-link text-white"
              routerLink="/portfolio/"
              routerLinkActive="link-active"
              >Wallet</a
            >
          </li>

          <li class="nav-item">
            <a
              class="nav-link text-white"
              routerLink="/resources/"
              routerLinkActive="link-active"
              >Resources</a
            >
          </li>
        </ul>
        <ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
          <div class="d-flex align-items-center gap-2">
            <span class="nav-link text-white fs-5"
              ><span class="fw-bold">Cash Balance:</span>
              {{ user.liquidCash | currency: 'USD':'symbol' }}</span
            >
            <!-- <i class="fa-solid fa-circle-user fa-2xl"></i> -->
            <button
              class="btn"
              (click)="auth.logout({ returnTo: document.location.origin })"
              aria-label="Logout Button"
              title="Logout"
            >
              <i class="fa-solid fa-right-from-bracket fa-2xl"></i>
            </button>
          </div>
        </ng-container>
        <ng-template #loggedOut>
          <button
            class="btn"
            (click)="auth.loginWithRedirect()"
            aria-label="Login Button"
            title="Login"
          >
            <i class="fa-solid fa-right-to-bracket fa-2xl"></i>
          </button>
        </ng-template>
      </div>
    </div>
  </nav>
</header>
