<header>
  <nav class="navbar navbar-expand-lg bg-primary">
    <div class="container">
      <a class="navbar-brand text-white" href="#">
        <img
          src="assets/CryptoClear.png"
          alt=""
          style="width: 48px; height: 48px; margin-right: 10px"
        />
        CryptoClear</a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a
              class="nav-link text-white"
              routerLink="/coins/"
              routerLinkActive="link-active"
              >Coins</a
            >
          </li>

          <li class="nav-item">
            <a
              class="nav-link text-white"
              routerLink="/portfolio/"
              routerLinkActive="link-active"
              >Portfolio</a
            >
          </li>

          <li class="nav-item">
            <a
              class="nav-link text-white"
              routerLink="/resources/"
              routerLinkActive="link-active"
              >Resources</a
            >
          </li>
        </ul>
        <ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
          <div class="d-flex justiofy-content-center gap-2">
            <span class="nav-link text-white fs-5"
              ><span class="fw-bold">Cash Balance:</span>
              {{ user.liquidCash | currency: 'USD':'symbol' }}</span
            >
            <span
              data-bs-toggle="popover"
              data-bs-placement="bottom"
              data-bs-content="Vivamus
sagittis lacus vel augue laoreet rutrum faucibus."
              data-bs-original-title="Popover Title"
              aria-describedby="popover195380"
            >
              <i class="fa-solid fa-circle-user fa-2xl"></i>
              <button
                (click)="auth.logout({ returnTo: document.location.origin })"
              >
                Log out
              </button>
            </span>
          </div>
        </ng-container>
        <ng-template #loggedOut>
          <button (click)="auth.loginWithRedirect()">Log in</button>
        </ng-template>
      </div>
    </div>
  </nav>
</header>
